@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Merriweather:wght@300&display=swap');
*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
}

.navbar
{
    background-color: rgb(15, 12, 12);
    opacity: .5;
    padding: 10px 20px;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.navbar-content
{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navbar-content a
{
    font-size: 1.5rem;
    color: rgb(206, 141, 21);
    text-decoration: none;
    letter-spacing: 0.15em;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.navbar-content a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(161, 9, 9);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-content a:hover::after 
{
    width: 100%;
    left:0;
}

@media only screen and (max-width: 632px)
{
    .navbar
    {
        width: 0%;
    }
    .navbar-content
    {
        display: none;
    }
}

/*******************************/
/* Timer */
.countdown-timer
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(157, 243, 186);
    background-color: rgb(214, 228, 220);
}

.countdown-timer h1
{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: 'IBM Plex Serif', serif;
}

.countdown-timer ul
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    border-radius: 10px;
}

.countdown-timer li 
{
    display:inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 3em;
    text-transform: uppercase;
}

.countdown-timer li span
{
    display:block;
    font-size: 4.5rem;
    text-align: center;
}