*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
}

.navbar
{
    background-color: rgba(8, 167, 29, 0.945);
    padding: 10px 20px;
    width: 100%;
    height: auto;
    left: 0px;
    top: 0px;
}

.navbar-content
{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navbar-content a
{
    font-size: 1.5rem;
    color: rgb(243, 243, 243);
    text-decoration: none;
    letter-spacing: 0.15em;

    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.navbar-content a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-content a:hover::after 
{
    width: 100%;
    left:0;
}