@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif&family=Merriweather:wght@300&display=swap');
*
{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(255, 255, 255);
    
}

.navbar
{
    background-color: rgb(15, 12, 12);
    opacity: .5;
    padding: 10px 20px;
    width: 100%; 
    left: 0px;
    top: 0px;
}


.navbar-content
{
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.navbar-content a
{
    font-size: 1.5rem;
    color: rgb(206, 141, 21);
    text-decoration: none;
    letter-spacing: 0.15em;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

.navbar-content a:after
{
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(161, 9, 9);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-content a:hover::after 
{
    width: 100%;
    left:0;
}

.hamburger
{
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #04d315;
}

@media only screen and (max-width: 768px)
{
    .navbar
    {

    }
    .navbar-content
    {
        position: relative;
        left: -100%;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
 
   .navbar-content.active
    {
        left:0;
    }   

    .hamburger
    {
        display: block;
        cursor:pointer;
    }
}

/*******************************/
/* Timer */
.countdown-timer
{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(157, 243, 186);
    background-color: rgb(214, 228, 220);
}

.countdown-timer h1
{
    font-size: 3rem;
    margin-bottom: 3rem;
    font-family: 'IBM Plex Serif', serif;
}

.countdown-timer ul
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    border-radius: 10px;
}

.countdown-timer li 
{
    display:inline-block;
    font-size: 1.5rem;
    list-style-type: none;
    padding: 3em;
    text-transform: uppercase;
}

.countdown-timer li span
{
    display:block;
    font-size: 4.5rem;
    text-align: center;
}

@media only screen and (max-width: 768px)
{
  .countdown-timer
  {
    position: sticky;
    padding: 30rem 1rem;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(157, 243, 186);
    background-color: rgb(214, 228, 220);
  }
}


/* Weather app */
.weather-container
{
    display: flex;
    align-items:center;
    width: 100%;
    min-width: 500px;
    height: auto;
    background-color: rgb(194, 210, 211);
    flex-direction: column;
    padding: 10rem 0px;
    font-family: 'IBM Plex Serif', serif;
}

.weather-container h1
{
    font-size: 4rem;
    padding-bottom: 20px;
}

.weather-container .display
{
    background: white;
    margin-top: 30px;
    height: auto;
    min-width: 20rem;
    width: auto;
    border-radius: 30px;
}

.weather-container .wrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;  
}

.weather-container .wrapper h2
{
    font-size: 4rem;
    padding-bottom: 2rem;
}

.weather-container .wrapper p
{
    padding-bottom: 1rem;
}

.inputs
{
    padding: 3rem  3rem ;
    text-align: center;
    justify-content: center;
    background: rgb(248, 248, 248);
    border-radius: 30px;
    cursor: pointer;
}

.inputs input[type="text"]
{
    height: 3.5rem;
    width: 20rem;
    background: #212121;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #c2c2c2;
    border-radius: 20px;
    margin-right: 4px;
}

.inputs input[type="submit"]
{
    height:  3.2rem;
    width: 6.5rem;
    background: #ff0101;
    font-size: 1.2rem;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

.inputs input[type="submit"]:hover
{
    font-size: 1.3rem;
    background-color: #1950b696;
    color: #0400ff;
}

/*Map*/
.container_map
{
    background-color: antiquewhite;
}

#google_map
{
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

/* Footer */
.footer
{
    background-color: black;
    min-height: 100px;
    position: relative;
}

.footer ul 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display:flex;
}

.footer ul li
{
    padding: 0 6rem;
}

.footer ul li a
{
    color: white; 
    font-size: 2rem;
    transition: 0.4s;
}

.footer ul li a:hover
{
    font-size: 3rem;
    color:rgb(0, 119, 255);
}